<h3>You have been registered</h3>

<div>
    <p>Your login has been configured with the following values:<p>
    <ul>
        <li>Username: {{ email }}</li>
        <li>Password: {{ plainPassword }}</li>
        <li>Role: {{ role }}
    </ul>
</div>

<div>
    <p>You will be asked to change your password upon first login.</p>
</div>



